################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/bin
/source/obj
/source/.vs/wmi-parser/v16/Server/sqlite3
/source/wmi-parser.csproj.user
/source/.vs/wmi-parser/v16/.suo
